<link rel="stylesheet" href="/CSS/index.css">

<header>
    <div class="header-content container">
        <div class="swiper mySwiper-1">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="slider">
                        <div class="slider-txt">
                            <h1>Bajar de peso</h1>
                            <p>
                                En fitness restaurant bajar de peso también es comer delicioso, disfruta de nuestros platos enfocados en un déficit calórico.
                            </p>
                            <div class="botones">
                                <a href="/menu" class="btn-1">Menu</a>
                            </div>
                        </div>
                        <div class="slider-img">
                            <img src="/img/bajar.png" alt="Bajar de peso">
                        </div>
                    </div>
                </div> 

                <div class="swiper-slide">
                    <div class="slider">
                        <div class="slider-txt">
                            <h1>Mantenerse</h1>
                            <p>
                                Ni mucho ni poco, prepárate para recibir todo nuestro catálogo de platos para mantenimiento si lo que quieres es conservar tus ganancias.
                            </p>
                            <div class="botones">
                                <a href="/menu" class="btn-1">Menu</a>
                            </div>
                        </div>
                        <div class="slider-img">
                            <img src="/img/mantenerse.png" alt="Mantenerse">
                        </div>
                    </div>
                </div> 

                <div class="swiper-slide">
                    <div class="slider">
                        <div class="slider-txt">
                            <h1>Ganar masa</h1>
                            <p>
                                Un menú diseñado para los que quieren ganar masa muscular o quizás para los que solo quieren comer y comer.
                            </p>
                            <div class="botones">
                                <a href="/menu" class="btn-1">Menu</a>
                            </div>
                        </div>
                        <div class="slider-img">
                            <img src="/img/subir h.png" alt="Ganar masa">
                        </div>
                    </div>
                </div> 

            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</header>

<section class="products">
    <div class="tabs container">

        <% for (let i = 1; i <= 3; i++) { %>
            <input type="radio" name="tabs" id="tab<%= i %>" class="tabinput" value="<%= i %>" <%= i === 1 ? 'checked' : '' %>>
            <label for="tab<%= i %>">Platos</label>
            <div class="tab">
                <div class="swiper mySwiper-2" id="swiper<%= i %>">
                    <div class="swiper-wrapper">

                        <% for (let j = 1; j <= 4; j++) { 
                            const imgIndex = j > 2 ? j - 1 : 1;
                        %>
                            <div class="swiper-slide">
                                <div class="product">
                                    <div class="product-img">
                                        <h4>Nuevo</h4>
                                        <img src="/img/food<%= imgIndex %>.png" alt="Producto <%= j %>">
                                    </div>
                                    <div class="product-txt">
                                        <h4>Producto</h4>
                                        <p>Calidad premium</p>
                                        <span class="price">80.00</span>
                                    </div>
                                </div>
                            </div>
                        <% } %>

                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        <% } %>

    </div>
</section>

<section>
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.624483248704!2d-75.60599289999999!3d6.1809892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e46823b07fa76e7%3A0xd858c9c2ddf4b118!2sSENA%20Complejo%20Sur%20Itag%C3%BC%C3%AD!5e0!3m2!1ses-419!2sco!4v1743910399536!5m2!1ses-419!2sco" width="100%" height="500" style="border:0;" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
